<style>
  .search-bar {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }

  .search-btn {
    background-color: #fe424f;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;

  }

  .search-btn:hover {
    background-color: #fe424f;
    color: white;
  }

  @media (max-width: 768px) {
    .navbar-brand {
      order: 3;
    }
    .navbar-nav.mx-auto {
      order: 1;
      flex-grow: 1;
      justify-content: center;
    }
    .navbar-toggler {
      order: 0;
    }
    .navbar-collapse {
      order: 2;
    }
  }

  @media (max-width: 576px) {
    .search-bar {
      width: 120px; /* Adjust as needed */
    }
    .search-btn {
      font-size: 0.8rem;
    }
  }

  .navbar-nav .nav-link {
    display: inline-block;
    padding: 0 10px; /* Adjust spacing as needed */
  }

  .search-bar {
    max-width: 300px; /* Adjust as needed for larger screens */
  }

  .navbar-collapse {
    justify-content: flex-end;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <div class="navbar-nav">
      <a class="nav-link" href="/listings">Explore</a>
    </div>
    <div class="navbar-nav ms-auto search">
      <form class="d-flex" role="search">
        <input class="form-control me-2 search-bar" type="search" placeholder="Search" aria-label="Search">
        <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Aibnb your home</a>
        <% if(!currUser) {%>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Log In</b></a>
          <% } %>
            <% if(currUser) {%>
              <a class="nav-link" href="/logout">Log Out</a>
              <% } %>
      </div>
    </div>
  </div>
</nav>